.users {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1em;

  @media (max-width: 750px) {
    font-size: small;
  }

  .column {
    cursor: pointer;

    svg {
      position: absolute;
      margin: 1px 0 0 3px;
      fill: green;
    }

    &--inverted {
      svg {
        transform: rotate(180deg);
        margin: -6px 0px 0px -3px;
      }
    }

    @media (max-width: 750px) {
      svg {
        display: none;
      }
    }
  }

  .table-head {
    background: #333;
  }

  .table-body {
    &--showColors {
      tr:nth-child(odd) {
        background: #333;
      }

      tr:nth-child(even) {
        background: #555;
      }
    }
  }
}
