.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: left;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 30px;
}

.movie {
  text-align: center;
}

.movie h3,
.movie p {
  text-align: center;
}

.movie img {
  border-radius: 7px;
  margin-top: 0px;
}

section.error {
  color: red;
}

input.sort-button {
  color: white;
  margin-left: 5px;
}

input.sort-button--selected {
  background-color: #a4abb4 !important;
  color: white;
}
