.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 1rem;
}

.filter > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
